* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {   
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 70%;
    text-align: center;
}

.title{
    margin-bottom: 40px;
    font-size: 24px;
    color: #121212;
}

.subtitle {
    margin-bottom: 50px;
    color: #000000;
}

.subtitle a{
    text-decoration: none;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.google-btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 60px;
    width: 88%;
    padding: 4px 40%;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    cursor: pointer;
    font-size: 10px;
    justify-content: center;
    gap: 30%;
}

p.btn-text{
    font-weight: 800;
    font-size: 10px;
    white-space: nowrap;
}

.fb-btn {
    display: flex;
    width: 15%;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #290ad7;
    background-color: transparent;
    cursor: pointer;
}

.or {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%; 
}

.or::before,
.or::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: #ccc; 
    margin: 0 10px; 
}

.or span {
    white-space: nowrap; 
    padding: 0 10px; 
}

.email-login {
    position: relative;
    color: grey;
    text-align:justify;
    margin-bottom: 40px;
    display: inline-block;
    top: 20px;
    width: 45px;
    right: 150px;
    
}

.email-login input{
    position: relative;
    color: grey;
    text-align:justify;
    margin-bottom: 30px;
    width: 350px;
    right: 5px;
    height: 40px;
}

.email-login label{
    position: relative;
    color: grey;
    text-align:justify;
    margin-bottom: 20px;
    bottom: 10px;
}

.cta-btn {
    position: relative;
    padding: 3%;
    width: 90%;
    border-radius: 10px;
    border: 1px solid;
    background-color: #3b50c7;
    color: white;
    margin-bottom: 30px;
    cursor:pointer;
    bottom: 20px;
}


.forget-pass {
    position: relative;
    text-decoration: none;
    color: #3b50c7;
    bottom: 45px;
}